<h2 class = "title">配送先編集</h2>

<%= form_with model:@address, url:address_path, local:true do |f| %>
<table>
    <tr>
        <th>郵便番号（ハイフンなし）</th>
        <th><%= f.text_field :postal_code %></th>
    </tr>
    <tr>
        <th>住所</th>
        <th><%= f.text_field :address %></th>
    </tr>
    <tr>
        <th>宛名</th>
        <th><%= f.text_field :name %></th>
        <th></th>
        <th><%= f.submit '変更内容を保存' %></th>
    </tr>
    <% end %>
</table>
