<h2 class ="session">ログイン</h2>
<%= form_with model: resource, url: customer_session_path, local: true do |f| %>
  <div class="session_field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="session_field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  <div class="session_actions">
    <%= f.submit "ログイン" %>
  </div>
  
   <h2 class = "session">会員登録がお済みでない方</h2>
  
  <p class ="session_link"><%= link_to "こちら" , new_customer_registration_path   %> から新規登録を行ってください。</p>
<% end %>


